{% include 'project_manager/dashboard.html' %}


{% block content %}
<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
        <div class="formbold-form-title">
            <h2 class="title">ADD PROJECT</h2>
        </div>

        <form method="post" action="{% url 'add_project'%}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="formbold-mb-3">
                <label class="formbold-form-label">
                    Project Name
                </label>
                <input
                        type="text"
                        name="p_name"
                        class="formbold-form-input"
                />
            </div>
            <div class="formbold-mb-3">
                <label class="formbold-form-label">
                    Project Description
                </label>
                <input
                        type="text"
                        name="p_desc"
                        class="formbold-form-input"
                />
            </div>

            <div class="formbold-input-flex">
                <div>
                    <label class="formbold-form-label"> Front End </label>
                    <input
                            type="text"
                            name="f_end"
                            class="formbold-form-input"
                    />
                </div>
                <div>
                    <label class="formbold-form-label"> Back End </label>
                    <input
                            type="text"
                            name="b_end"
                            class="formbold-form-input"
                    />
                </div>
            </div>


            <div class="formbold-mb-3">
                <label class="formbold-form-label">
                    Database
                </label>
                <input
                        type="text"
                        name="d_base"
                        class="formbold-form-input"
                />
            </div>

            <div class="formbold-input-flex">
                <div>
                    <label class="formbold-form-label"> Start Date </label>
                    <input
                            type="date"
                            name="s_date"
                            class="formbold-form-input"
                            required
                    />
                </div>
                <div>
                    <label class="formbold-form-label"> End Date </label>
                    <input
                            type="date"
                            name="e_date"
                            class="formbold-form-input"
                            required
                            min=""
                    />
                </div>
            </div>

            <div class="formbold-input-flex">
                <div>
                    <label class="formbold-form-label"> Client Name </label>
                    <input
                            type="text"
                            name="c_name"
                            class="formbold-form-input"
                    />
                </div>
                <div>
                    <label class="formbold-form-label">Client Email</label>
                    <input
                            type="email"
                            name="c_email"
                            id="client-email"
                            class="formbold-form-input"
                    />
                    <p id="email-error-msg" style="display: none; color: red;">Invalid email address !</p>
                </div>
            </div>
            <div class="formbold-mb-3">
                <label class="formbold-form-label">
                    Client Contact
                </label>
                <input
                        type="tel"
                        id="phone-input"
                        name="c_phone"
                        class="formbold-form-input"
                        maxlength="10"
                        pattern="[0-9]{10}" required
                />

            </div>
            <p id="error-msg" style="display: none; color: red;">Invalid phone number !</p>



            <button class="formbold-btn" type="submit">Add Project</button>


        </form>
    </div>
</div>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Inter', sans-serif;
  }
  .formbold-mb-3 {
    margin-bottom: 15px;
  }
  .formbold-relative {
    position: relative;
  }
  .formbold-opacity-0 {
    opacity: 0;
  }
  .formbold-stroke-current {
    stroke: currentColor;
  }
  #supportCheckbox:checked ~ div span {
    opacity: 1;
  }

  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
    background : url(" /static/image/background.jpg")
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 570px;
    width: 100%;
    padding: 40px;
  }

  .formbold-img {
    margin-bottom: 45px;
  }

  .formbold-form-title {
    margin-bottom: 30px;
  }
  .formbold-form-title h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #07074d;
    margin-left:137px;
  }
  .formbold-form-title p {
    font-size: 16px;
    line-height: 24px;
    color: #536387;
    margin-top: 12px;
  }

  .formbold-input-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
  }
  .formbold-input-flex > div {
    width: 50%;
  }
  .formbold-form-input {
    text-align: center;
    width: 100%;
    padding: 13px 22px;
    border-radius: 11px;
    border: 2px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
    border:solid;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
  .formbold-form-label {
    color: #536387;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
  }

  .formbold-checkbox-label {
    display: flex;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    line-height: 24px;
    color: #536387;
  }
  .formbold-checkbox-label a {
    margin-left: 5px;
    color: #6a64f1;
  }
  .formbold-input-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .formbold-checkbox-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    margin-top: 2px;
    border: 0.7px solid #dde3ec;
    border-radius: 3px;
  }

  .formbold-btn {
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;
    margin-top: 25px;
    margin-left:167px;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
  .title{
      font-variant-caps: small-caps;
  }






</style>

{% endblock content %}


{% block scripts %}
<!-- Script for Validating Phone number -->
<script>
   const phoneInput = document.getElementById('phone-input');
  const errorMsg = document.getElementById('error-msg');

  phoneInput.addEventListener('input', () => {
    if (phoneInput.validity.valid) {
      errorMsg.style.display = 'none';
    } else {
      errorMsg.style.display = 'block';
    }
  });

</script>


<!-- Script for Validating Email -->
<script>
  const emailInput = document.getElementById('client-email');
  const emailErrorMsg = document.getElementById('email-error-msg');

  emailInput.addEventListener('input', () => {
    if (emailInput.validity.valid) {
      emailErrorMsg.style.display = 'none';
    } else {
      emailErrorMsg.style.display = 'block';
    }
  });
</script>


{% endblock scripts %}